@media only screen and (min-width: 768px) {

    /************ HEADER **********/
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 40px auto;
        padding: 10px;
    }

    header span {
        font-size: 1.5rem;
    }

    .navigation {
        display: block;
        grid-column: 1/-1;
        background-color: #18508f;
        margin-top: 15px;
    }

    .navigation ul {
        display: flex;
        max-width: 1000px;
    }

    .navigation a {
        color: #ddd;
        padding: 10px 20px;
        border-bottom: none;
    }

    .navigation a:hover {
        background-color: #202223;
    }

    #members-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #members-container.list .member-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    #members-container.list .member-card img {
        width: 150px;
        height: 150px;
    }

    footer {
        border-top: 2px solid #202223;
        margin-top: 40px;
    }
}