@media only screen and (min-width: 608px) {
    .hamburger {
            display: none;
        }
    
    header {
        grid-template-columns: 24px auto;
    }
    
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    
    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation a {
        border: none;
    }
}